# ============================================================
# Unreal Engine
# ============================================================

# Unreal Engine generated folders
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/

# Unreal Engine generated build files
*_BuiltData.uasset

# Generated Visual Studio / IDE files
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# Generated Xcode files
*.xcodeproj
*.xcworkspace


# ============================================================
# Visual Studio / C++ build files
# ============================================================

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Fortran module files
*.mod


# ============================================================
# Unreal Engine Plugins
# ============================================================

# Generated plugin binaries/intermediate files
**/Plugins/**/Binaries/
**/Plugins/**/Intermediate/


# ============================================================
# Source Art
# ============================================================

# Raw source art
**/SourceArt/**/*.png
**/SourceArt/**/*.tga


# ============================================================
# Build
# ============================================================

# Ignore generated build files
Build/*

# Whitelist PakBlacklist files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files
!Build/**/*.ico